@media (max-width: 1023px) {
  .links {
    display: none !important;
  }
  .register {
    justify-content: center !important;
  }
  .container {
    border: none !important;
    padding: 0px !important;
  }
}
